extends layout

block content
  table
    thead
      tr
        th Path
        th visits
    tbody
      each pageView in pageViews
        tr
          td= pageView._id
          td= pageView.count
